<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%-include('./layout/head.ejs')%>
        <main>
            <%char.forEach(potter=>{%>
                <div class="card">
                    <p>
                        <%=potter.name%>
                    </p>
                    <img src="<%=potter.image%>">
                    <p>
                        <%=potter.house%>
                    </p>
                    <p>
                        <%=potter.patronus%>
                    </p>
                    <p>
                        <%=potter.is_alive%>
                    </p>
                    <a href="/character/<%=potter.id%>">view details</a>
                </div>
                <%})%>
        </main>
</body>

</html>