<!DOCTYPE html>



<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%-include('./layout/head.ejs')%>
        <main>
            <%char.forEach(potter=>{%>
                <div class="card">

                    <p>
                        <%=potter.name%>
                    </p>
                    <img src="<%=potter.image%>">
                    <p>
                        <%=potter.house%>
                    </p>
                    <p>
                        <%=potter.patronus%>
                    </p>
                    <p>
                        <%=potter.alive%>
                    </p>
                    <form action="/favorite-character" method="POST">
                        <input type="hidden" name="name" value="<%=potter.name%>">
                        <input type="hidden" name="image" value="<%=potter.image%>">
                        <input type="hidden" name="house" value="<%=potter.house%>">
                        <input type="hidden" name="patronus" value="<%=potter.patronus%>">
                        <input type="hidden" name="alive" value="<%=potter.alive%>">
                        <button type="submit">add to favorite</button>
                    </form>
                </div>
                <%})%>
        </main>
</body>

</html>